<div class="mx-10 py-10">
    <p class="align-middle">Dashboard > <span class="font-semibold">Users</span></p>
</div>

<div class="relative overflow-x-auto sm:rounded-lg mx-10 bg-white shadow">
    <div class="flex justify-between">
        <div class="flex align-middle bg-white-500 px-5 py-5 text-sm gap-6 ">
            <div>
                <input type="text" id="Type" aria-label="Your type"
                    class="bg-white-800 align-middle px-5 py-1 h-8 text-#0000ff-700 hover:text-black  border border-#0000ff-500 hover:border-transparent rounded"
                    value="" placeholder="Enter type">
            </div>
            <div class="align-middle px-5 py-1 h-8">
                <label class="relative inline-flex items-center me-5 cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer" unchecked>
                    <div
                        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600">
                    </div>
                    <span class="ms-3 text-xs font-medium">Show Blocked Users</span>
                </label>
            </div>
        </div>
        <!-- <div class=" align-middle text-right px-5 py-5">
            <button
                class="button bg-red-500 px-5 py-1 h-8 align-middle text-white border border-#0000ff-500 hover:border-transparent rounded font-normal text-sm">+
                Edit User</button>
        </div> -->
    </div>
</div>

<div>
    <div class="relative overflow-x-auto sm:rounded-lg mx-10 my-10 shadow border-#0000ff-100">
        <table class="w-full text-sm text-left rtl:text-right bg-white-800 table-fixed">
            <thead class="text-xs text-black uppercase bg-neutral-100">
                <tr>
                    <th scope="col" class="px-6 py-3 ">
                        UserID
                    </th>
                    <th scope="col" class="px-6 py-3 ">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Role
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white ">
                <tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-200 border-white-150 text-xs font-thin"
                    *ngFor="let user of userList">
                    <td scope="col" class="px-6 py-3  font-normal text-red-800 ">
                        {{user.userId}}
                    </td>
                    <td scope="col" class="px-6 py-3 font-normal ">
                        {{user.firstName}} {{user.lastName}}
                    </td>
                    <td scope="col" class="px-6 py-3 font-normal ">
                        {{user.email}}
                    </td>
                    <td scope="col" class="px-6 py-3 font-normal ">
                        {{user.role}}
                    </td>
                    <td scope="col" class="px-6 py-3 font-normal ">
                        <button class="text-red-900 ml-3" (click)="openModal(user)">Edit</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>
<div id="gg"
    class="h-screen fixed top-0 bottom-0 overflow-hidden overflow-y-auto w-5/12 transition-transform ease-in-out duration-250 flex flex-col right-0 z-50 transform translate-x-full bg-neutral-100">
    <div class="h-16 flex justify-between bg-white align-middle p-4">

        <div class="my-auto ml-4 font-semibold"><span class="mr-4 text-gray-300 hover:cursor-pointer"
                (click)="closeModal()">X</span>User Info</div>
        <div class="flex gap-2 mr-4 justify-end my-auto">
            <button
                class="button bg-red-500 px-4 py-1 h-7 align-middle text-white border border-#0000ff-500 hover:border-transparent rounded font-normal text-xs">Save</button>
            <button
                class="button bg-red-500 px-4 py-1 h-7 align-middle text-white border border-#0000ff-500 hover:border-transparent rounded font-normal text-xs">Cancel</button>
        </div>
    </div>
    <!-- User info -->
    <div class="m-6 bg-white border-#0000ff-800 rounded">
        <div class="w-full p-4 border-b-2 border-gray-100">
            User info
        </div>
        <div class="w-full px-8 pt-4 pb-8">
            <label for="price" class="block text-sm font-medium leading-6 text-gray-900">User ID</label>
            <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="price" id="price" [value]="userInModal.userId" disabled
                    class="overflow-x-hidden overflow-y-auto w-full h-8 rounded-md border-0 py-2 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="w-full px-4">
            <div class="w-full px-4">
                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <div>
                            <label for="order-id" class="block text-sm font-medium leading-6 text-gray-900">First Name
                            </label>
                            <div class="relative mt-2 rounded-md shadow-sm">
                                <input type="text" name="order-id" id="order-id" [value]="userInModal.firstName"
                                    disabled
                                    class="block w-full rounded-md border-0 h-8 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 ">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="Cooking_time" class="block text-sm font-medium leading-6 text-gray-900">Last
                                Name
                            </label>
                            <div class="relative mt-2 rounded-md shadow-sm">
                                <input type="text" name="Cooking_time" id="Cooking_time" [value]="userInModal.lastName"
                                    disabled
                                    class="block w-full rounded-md border-0 h-8 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full p-4">
                <div class="grid grid-cols-2 gap-2">

                    <div>
                        <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                        <div class="relative mt-2 rounded-md shadow-sm">
                            <input type="text" name="price" id="price" [value]="userInModal.email" disabled
                                class="block w-full rounded-md border-0 h-8 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div>
                        <label for="Cooking_time" class="block text-sm font-medium leading-6 text-gray-900">Password
                        </label>
                        <div class="relative mt-2 rounded-md shadow-sm">
                            <input type="text" name="Cooking_time" id="Cooking_time" [value]="userInModal.password"
                                disabled
                                class="block w-full rounded-md border-0 h-8 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                </div>
            </div>
            <div class="w-full p-4 py-2">
                <label for="price" class="block text-sm font-medium leading-6 text-gray-900">About</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <input type="text" name="price" id="price" [value]="userInModal.about" disabled
                        class="overflow-x-hidden overflow-y-auto w-full h-8 rounded-md border-0 py-2 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>
            <div class="w-full px-4 pb-8">
                <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Role</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <input type="text" name="price" id="price" [value]="userInModal.role" disabled
                        class="overflow-x-hidden overflow-y-auto w-full h-8 rounded-md border-0 py-2 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>
        </div>
    </div>


        <!-- Address info -->
        <div class="m-6 my-3 bg-white border-#0000ff-800  rounded">
            <div class="w-full p-4 border-b-2 border-gray-100">
                Address info
            </div>
            <div class=" overflow-y-scroll h-96">
                <div class="items-container" *ngFor="let address of userInModal.addresses">
                    <div class="w-full px-8 pb-1 pt-4">
                        <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Address Line
                            One</label>
                        <div class="relative mt-2 rounded-md shadow-sm">
                            <input type="text" name="price" id="price" [value]="address.addressLine1" disabled
                                class="overflow-x-hidden overflow-y-auto w-full h-8 rounded-md border-0 py-2 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div class="w-full px-8 pb-1 pt-4">
                        <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Address Line
                            Two</label>
                        <div class="relative mt-2 rounded-md shadow-sm">
                            <input type="text" name="price" id="price" [value]="address.addressLine2" disabled
                                class="overflow-x-hidden overflow-y-auto w-full h-8 rounded-md border-0 py-2 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div class="w-full px-8 pb-1 pt-4">
                        <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Landmark</label>
                        <div class="relative mt-2 rounded-md shadow-sm">
                            <input type="text" name="price" id="price" [value]="address.landmark" disabled
                                class="overflow-x-hidden overflow-y-auto w-full h-8 rounded-md border-0 py-2 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div class="w-full p-8">
                        <div class="w-full">
                            <div class="grid grid-cols-3 gap-2">
                                <div>
                                    <div>
                                        <label for="price"
                                            class="block text-sm font-medium leading-6 text-gray-900">City</label>
                                        <div class="relative mt-2 rounded-md shadow-sm">
                                            <input type="text" name="price" id="price" [value]="address.city"
                                                disabled
                                                class="block w-full rounded-md border-0 h-8 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label for="Cooking_time"
                                            class="block text-sm font-medium leading-6 text-gray-900">Pincode
                                        </label>
                                        <div class="relative mt-2 rounded-md shadow-sm">
                                            <input type="text" name="Cooking_time" id="Cooking_time"
                                                [value]="address.pincode" disabled
                                                class="block w-full rounded-md border-0 h-8 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label for="Cooking_time"
                                            class="block text-sm font-medium leading-6 text-gray-900">Country
                                        </label>
                                        <div class="relative mt-2 rounded-md shadow-sm">
                                            <input type="text" name="Cooking_time" id="Cooking_time"
                                                [value]="address.country" disabled
                                                class="block w-full rounded-md border-0 h-8 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-8">
                        <hr class="h-px my-2 bg-gray-200 border-0">
                    </div>
                </div>
            </div>
            

        </div>

        <div class="m-6 bg-white border-#0000ff-800 rounded">
            <div class="w-full p-4 border-b-2 border-gray-100">
                Status
            </div>
            <div class="w-full p-4">
                <label class="relative inline-flex items-center me-5 cursor-pointer" *ngIf="userInModal.status=='blocked';else unblocked">
                    <input type="checkbox" value="" class="sr-only peer" id="block" (change)="changeBlockStatus1()" checked>

                    <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600"></div>
                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Blocked</span>
                </label>
                <ng-template #unblocked>
                    <label class="relative inline-flex items-center me-5 cursor-pointer">
                        <input type="checkbox" value="" class="sr-only peer" id="unblock" (change)="changeBlockStatus2()" unchecked >
    
                        <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600"></div>
                        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Unblocked</span>
                    </label>
                </ng-template>
            </div>
        </div>
    


</div>